.*.lock
.keep*
adobe/
anacrontab
bindresvport.blacklist
bluetooth/
ca-certificates/
chromium/
cifs-utils/
clsync/
csh.env
dbus-1/
dmtab
enc.key
gentoo-release
gkeys/
group-
gshadow-
gtk-2.0/
gtk-3.0/
init.d/
initramfs.mounts
inittab
issue
issue.logo
java-config-2/
kernels/
krb5.conf.example
layman/
ld.so.cache
ld.so.conf
ld.so.conf.d/
libblockdev/
libnl/
lsb-release
machine-id
mail/
mailcap
mcelog/
mercurial/
mtab
nullmailer/
os-release
papersize
passwd-
pkcs11/
pm/
portage/savedconfig/
prelink.conf.d/
profile
profile.env
python-exec/
request-key.conf
request-key.d/
resolv.conf
revdep-rebuild/
rhashrc
rmt
rpc
sasl2/
sgml/
shadow-
ssl/
subgid
subuid
sudoers.d/
sudoers.dist
systemd/
terminfo/
udev/hwdb.bin
w3m/
wireless-regdb/
xdg/qtchooser/
