[alias]
	br = branch
	ch = cherry-pick
	ci = commit
	co = checkout
	df = diff
	d  = diff --word-diff-regex=. --word-diff=color
	fe = fetch --prune
	lg = log --pretty=vay --first-parent
	lv = log --pretty=vaylong --first-parent
	lvf = log --pretty=vaylong
	pu = pull --ff-only
	rb = rebase
	rl = rev-list
	st = status
	rup = remote update

[branch]
	autosetuprebase = remote

[color]
	branch = auto
	diff = auto
	status = auto

[color "diff"]
	frag = magenta bold
	meta = yellow bold
	new = green bold
	old = red bold
	whitespace = red reverse

[commit]
	status = false

[core]
	eol = native
	excludesfile = /home/vayerx/.gitexclude
	excludesfile = ~/.gitexclude
	pager = cat
	whitespace = trailing-space,space-before-tab

[diff]
	renames = copies

[log]
	date = iso

[pretty]
	vay = %Cgreen%h %Creset%s%Creset
	vaylong = %Cgreen%h %Cred%an %Cgreen%aD %Creset%s

[merge]
	ff = false

[pull]
	ff = only

[push]
	default = tracking

[status]
	color = auto

[user]
	name = Vasiliy Yeremeyev
