<kpartgui version="1" name="kdevelop">
  <ActionProperties>
    <Action shortcut="Meta+Ctrl+L" name="show_left_dock"/>
    <Action shortcut="Meta+Ctrl+R" name="show_right_dock"/>
    <Action shortcut="Meta+Ctrl+B" name="show_bottom_dock"/>
    <Action shortcut="Meta+Ctrl+E; Meta+C" name="focus_editor"/>
    <Action shortcut="Meta+Ctrl+H" name="hide_all_docks"/>
    <Action shortcut="Meta+Ctrl+N" name="select_next_dock"/>
    <Action shortcut="Meta+Ctrl+P" name="select_previous_dock"/>
    <Action shortcut="Alt+Shift+Right" name="view_next_window"/>
    <Action shortcut="Alt+Shift+Left" name="view_previous_window"/>
    <Action shortcut="Ctrl+Shift+T" name="split_horizontal"/>
    <Action shortcut="Ctrl+Shift+L" name="split_vertical"/>
    <Action shortcut="Ctrl+Shift+N" name="view_next_split"/>
    <Action shortcut="Ctrl+Shift+P" name="view_previous_split"/>
    <Action shortcut="Ctrl+Shift+F" name="fullscreen"/>
    <Action shortcut="Ctrl+N" name="file_new"/>
    <Action shortcut="Ctrl+Shift+V" name="add_toolview"/>
    <Action shortcut="Ctrl+O" name="file_open"/>
    <Action shortcut="Ctrl+L" name="file_save_all"/>
    <Action shortcut="Ctrl+W" name="file_close"/>
    <Action shortcut="Ctrl+Shift+W" name="file_closeother"/>
    <Action shortcut="F6" name="vcsannotate_current_document"/>
    <Action shortcut="Ctrl+Shift+F6" name="configure_launches"/>
    <Action shortcut="F5" name="run_execute"/>
    <Action shortcut="Ctrl+F5" name="run_debug"/>
    <Action shortcut="Ctrl+Shift+Esc" name="run_stop_all"/>
    <Action shortcut="F1" name="help_contents"/>
    <Action shortcut="Shift+F1" name="help_whats_this"/>
  </ActionProperties>
</kpartgui>
